header,
main,
footer{
    width: 800px;
    margin: auto;
    margin-bottom: 30px;

}

header > img {

    background-color: blue;
}


nav > a {

}

main > img {

    background-color: green;
}

footer {

    background-color: red;
}